/*--> universal */

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Arial, Verdana, sans-serif;
    font-size: 15px;
}

:root {
    /* --pri-clr: #1a232f; */
    --pri-clr: #ba6c2b;
    --sec-clr: #3c3e3e;
    --pri-hover-clr: #cf7830;
    --sec-clr-light: #5fffeb;
    --sec-clr-lighter: #e5fffc;
    --useful-color: #2f3f54;
    scroll-behavior: smooth;
    --webkit-scroll-behavior: smooth;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 80%;
    margin: auto;
}

.container.bigger {
    width: 90%;
}

/* links */

a[href] {
    color: inherit;
    transition: all ease-in-out 250ms;
}

/* -- element styles */
section {
    padding: 20px 0; 
}

h1 {
    font-size: 1.68em;
}


/*--> layout * /
/* flex box */
.flx-box-cntr {
    display: flex;
    flex-wrap: wrap;
}

.flx-jstf-c {
    display: flex;
    justify-content: center;
}

.flx-align-c {
    display: flex;
    align-items: center;
}

.flx-just-spc-btw {
    justify-content: space-between;
}

.flx-just-spc-arnd {
    justify-content: space-around;
}


.flx-jstf-r {
    display: flex;
    justify-content: right;
}

.flx-jstf-l {
    justify-content: left;
}

.flx-grw-1 {
    flex-grow: 1;
}

.in-flx-grw-1>* {
    flex-grow: 1;
}

.fl-r {
    float: right;
}

.flx-dir-row {
    flex-direction: row;
}

.flx-dir-col {
    flex-direction: colulmn;
}

.flx-bas-30 {
    /* min-width: 10%; */
    flex-basis: 25%;
}

/* block inline inline-block */
.block-itm {
    display: block;
}

.inli-block-itm {
    display: inline-block;
}

/*positioning*/
.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

/*z-index*/
.z-indx-neg-1 {
    z-index: -1;
}

.z-indx-neg-2 {
    z-index: -2;
}

.z-indx-neg-3 {
    z-index: -3;
}

.z-indx-1 {
    z-index: 1;
}

.z-indx-2 {
    z-index: 2;
}

.z-indx-3 {
    z-index: 3;
}

.z-indx-999 {
    z-index: 999;
}

.height-100 {
    height: 100%;

}

/*--> margin and padding */
.no-padd {
    padding: 0;
}

.no-mrgn {
    margin: 0;
}

.mrgn-aut {
    margin: auto;
}

.right-space {
    margin-right: 30px;
}

.basic-padd-5 {
    padding: 5px;
}

.basic-padd-10 {
    padding: 10px;
}

.basic-padd-20 {
    padding: 20px;
}

.padd-top-bottom-5 {
    padding: 5px 0;
}

.padd-top-bottom-10 {
    padding: 10px 0;
}

.padd-top-bottom-20 {
    padding: 20px 0;
}

.padd-top-bottom-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

/*--> text */
.tdn {
    text-decoration: none;
}

.hover-tdu:hover {
    text-decoration: underline;
}

.tdu {
    text-decoration: underline;
}

/* allows <a> tags to inherit the text-decoration of their ancestor */
.tdn a {
    text-decoration: none;
}

.tdu a {
    text-decoration: underline;
}

.ttu {
    text-transform: uppercase;
}

.ttc {
    text-transform: capitalize;
}

.ttl {
    text-transform: lowercase;
}

.tal {
    text-align: left;
}

.tac {
    text-align: center;
}

.tar {
    text-align: right;
}

.b-no {
    font-weight: normal;
}

.b {
    font-weight: bold;
}

.b-100 {
    font-weight: 100;
}

.b-500 {
    font-weight: 500;
}

.b-600 {
    font-weight: 600;
}

.b-700 {
    font-weight: 700;
}

.fz-0-9 {
    font-size: 0.9em;
}

.fz-1 {
    font-size: 1em;
}

.fz-1-2 {
    font-size: 1.2em;
}

.fz-2 {
    font-size: 2em;
}

.fz-2-3 {
    font-size: 2.3em;
}

.fz-3 {
    font-size: 3em;
}

.fz-4 {
    font-size: 4em;
}

.ltr-spc-1 {
    letter-spacing: 1px;
}

.lh-0 {
    line-height: 0;
}

/* colors and background */
.clr-333 {
    color: #333;
}

a.clr-333 {
    color: #333;
}

.clr-white {
    color: white;
}

.clr-pri-clr {
    color: #2f3640;
    color: var(--pri-clr);
}

.clr-sec-clr {
    color: #00d2ba;
}

.bg-white {
    background: white;
}

.bg-pri-clr {
    background: #2f3640;
    background: var(--pri-clr);
}

.bg-sec-clr {
    background: #00d2ba;
    background: var(--sec-clr);
}

.bg-sec-clr-light{
    background: #5fffeb;
    background: var(--sec-clr-light);
}

.bg-sec-clr-lighter{
    background: #e5fffc;
    background: var(--sec-clr-lighter);
}

.bg-grey {
    background: grey;
}

.bg-trans-black {
    background: rgba(0,0,0,.8);
}

.clr-bg-pri-clr-sec-clr {
    color: #2f3640;
    color: var(--pri-clr);
    background: #00d2ba;
    background: var(--sec-clr);
}

.clr-sec-clr-bg-pri-clr {
    color: #00d2ba;
    color: var(--pri-clr-hover);
    background: #2f3640;
    background: var(--pri-clr);
}

.hover-clr-sec-clr:hover {
    color: #00d2ba;
    color: var(--sec-clr);
}

.hover-clr-pri-clr:hover {
    color: #2f3640;
    color: var(--pri-clr);
}

.hover-bg-white:hover {
    background:white;
}

/*--> transitions, animations and transforms */
.trans-100 {
    transition: all ease-in-out 100ms;
}

.trans-250 {
    transition: all ease-in-out 250ms;
}

.trans-int {
    transition: initial;
}

.trans-none {
    transition: none !important;
}

/*animations*/
.anim-pulse {
    animation-name: pulse;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border-radius: 100%;
}

.anim-fade-in {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.anim-top-fade-in {
    animation-name: top-fade-in;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.anim-left-fade-in {
    animation-name: left-fade-in;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.anim-right-fade-in {
    animation-name: right-fade-in;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

/*animation property tweek*/
.anim-dla-100 {
    animation-delay: 100ms;
}

.anim-dla-250 {
    animation-delay: 250ms;
}

.anim-slow {
    animation-duration: 1.5s;
}

.anim-vslow {
    animation-duration: 2s;
}

.anim-vvslow {
    animation-duration: 2.5s;
}

.anim-xslow {
    animation-duration: 4s;
}

.anim-func-sharp {
    animation-timing-function: cubic-bezier(0.69, 1.41, 1, 1.3);
}

/*effects*/

.round-5 {
    border-radius: 5px;
}

.round-10 {
    border-radius: 10px;
}

.round-20 {
    border-radius: 20px;
}

.round-50 {
    border-radius: 50px;
}

.round-circle {
    border-radius: 100%;
}


/*-->Media queries */
@media(max-width: 960px) {
    .container {
        width: 90%;
    }

    .container.bigger {
        width: 95%;
    }
}