:root {
    --article-font: Lato;
}

/* articles */
.heading {
    font-family: 'Segoe UI', 'Lato',  Arial, Helvetica, sans-serif;
}

.article {
    font-size: 20px;
    font-family: var(--article-font);
    letter-spacing: 1px;
    line-height: 1.5em;
}

.article a {
    color: var(--pri-clr);
}

p.article {
    text-indent: 1cm;
}

p.article a {
    color: var(--pri-clr);
}

p.article a:hover {
    color: var(--sec-clr);
}

h3 {
    font-size: 2.3em;
}

/* fonts families */
.sigma {
    font-family: Arial, sans-serif;
}

.quicksand {
    font-family: quicksand;
}

.lato {
    font-family: lato;
}
